*{
  margin: 0;
  padding: 0;
  font-family: 'Grenze Gotisch', cursive;
  font-family: 'Roboto', sans-serif;
}

body{
  width: 1200px;
  background-color: #ff5648;

}

/*меню навигации*/

.wrapper{
  max-width: 1000px;
  margin-left: 150px;
  margin-top: 20px;
}

.nav{
  width: 800px;
  padding: 0 5px;
  margin-left: 200px;
  margin-top: 0;
  display: flex;
  align-items: center;
}

.border-bottom{
  border-bottom: 1px solid #000 ;
  width: 700px;
  margin-left: 405px;
  margin-top: 10px;
}

.header-nav{
  width: 1000px;
  display: flex;
  justify-content:space-around;
  text-decoration: none;
}


a{
  text-decoration: none;
  font-size: 1.3rem;
  color: #000;
  font-family: 'Poppins', sans-serif;

}

a:hover{
  color: #fffff9;
  transition: all 0.3s ease-out;
}
 
.main-title{
  margin-left: 550px;
  margin-top: 20px;
}

/*Таблица*/

li{
  list-style-type: none;
}


.table{
 border: 1px solid #000;
 border-collapse: collapse;
 margin-left: 510px;
 margin-top: 50px;

}

td, th{
  padding: 0;
  text-align: center;
  width: 100px;
  height: 40px;

  
}

td{
  border: 1px solid #000;
  
}

#vertical{
 transform: rotate(-90deg);
}

td .bold{
  color: aqua;
}

/* footer */
.horizontal-line{
  border-bottom: 1px solid #000 ;
  width: 700px;
  margin-left: 405px;
  margin-top: 30px;
}

.footer-logo{
  display: flex;
  align-items: center;
}

.footer-logo__link{
  font-family: 'Grenze Gotisch', cursive;
  font-size: 4rem;
}
.footer-logo__link:hover{
  color: #fffff9;
  transition: all 0.7s ease-out;
}

.footer-title{
  margin-left: 320px;
  margin-top: 20px;
}

.layout-2-column{
  display: flex;
  align-items: center;
}

.footer-contact-info{
  display: flex;
  align-items: center;
}

.footer__contact{
  display:flex;
  align-items: center;
  margin-left: 40px;
}

.footer-link{
  margin-left: 5px;
}



